.profile__avatar-button {
    position: absolute;
    height: 26px;
    width: 26px;
    top: 50%;
    right: 50%;
    border: none;
    padding: 0;
    margin: -13px -13px 0 0;
    background: url(../../../images/vector.svg) transparent center no-repeat;
    opacity: 0;
    cursor: pointer;
}
.profile__avatar-button:hover {
    opacity: 1;
}
.profile__avatar-button:hover .profile__avatar {
    opacity: 0.2;
}