.profile__edit-button {
    margin: 15px 0px 0px 0px;
    padding: 0px;
    width: 24px;
    height: 24px;
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    background-color: #000;
    border: 1px solid #fff;
    background-image: url("../../../images/pen.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    opacity: 1;
}
.profile__edit-button:hover {
    opacity: 0.6;
}
@media screen and (max-width: 640px) {
    .profile__edit-button {
        margin: auto 0px;
    }
}
@media screen and (max-width: 320px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: auto;
        background-size: 7.5px 7.5px;
    }
}