.header__logo {
    margin: 0px auto 45px 0px;
    display: block;
}
@media screen and (max-width: 880px) {
    .header__logo {
        padding-left: 35px;
    }
}
@media screen and (max-width: 730px) {
    .header__logo {
        padding-left: 20px;
    }
}
@media screen and (max-width: 640px) {
    .header__logo {
        padding-left: 14px;
    }
}
@media screen and (max-width: 320px) {
    .header__logo {
        margin: 0px auto 31px 27px;
        padding: 0px;
        max-width: 103.74px;
    }
}