.popup__button {
    padding: 0px;
    margin: 0px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url("../../../images/cross.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    position: absolute;
    top: -37px;
    right: -35px;
    transform: rotate(-45deg);
    cursor: pointer;
}
.popup__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 455px) {
    .popup__button {
        width: 26px;
        height: 26px;
        top: -40px;
        right: 0px;
    }
}