.input__delete-card {
    margin: 38px auto 36px;
    width: 358px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media screen and (max-width: 425px) {
    .input__delete-card {
        max-width: 282px;
    }
}