.profile {
    margin: 0px auto;
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    
}
@media screen and (max-width: 565px) {
    .profile {
        flex-direction: column;
    }
}
@media screen and (max-width: 375px) {
    .profile {
        max-width: 282px;
    }
}
@media screen and (max-width: 320px) {
    .profile {
        margin: 0px 19px 36px;
    }
}