.element__heart-button {
    margin: 0px;
    padding: 0px;
    width: 22px;
    height: 19px;
    background-color: #fff;
    background-image: url("../../../images/heart-button.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    align-self: center;
    cursor: pointer;
    outline: none;
    opacity: 1;
}
.element__heart-button:hover {
    opacity: 0.5;
}