.profile__subtitle {
    margin: 0px;
    max-width: 336px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    grid-column: 3 / -3;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@media screen and (max-width: 640px) {
    .profile__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}
@media screen and (max-width: 320px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}