.profile__avatar {
    
    margin: 0px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.5s ease;
}
.profile__avatar:hover {
    opacity: 0.2;
  }

@media screen and (max-width: 880px) {
    .profile__avatar {
        margin-left: 35px;
    }
}
@media screen and (max-width: 730px) {
    .profile__avatar {
        margin-left: 20px;
    }
}
@media screen and (max-width: 640px) {
    .profile__avatar {
        margin-left: 14px;
    }
}
@media screen and (max-width: 375px) {
    .profile__avatar {
        margin: 0px auto;
    }
}