.profile__add-button {
   margin: 35px 0px 35px 0px;
   padding: 0px;
   box-sizing: border-box;
   min-width: 150px;
   height: 50px;
   border: 2px solid #fff;
   background-color: #000;
   background-image: url("../../../images/cross.svg");
   background-position: center;
   background-repeat: no-repeat;
   cursor: pointer;
   border-radius: 2px;
   outline: none;
   opacity: 1;
   transition: opacity 0.5s ease;
}
.profile__add-button:hover {
    opacity: 0.6;
}
@media screen and (max-width: 880px) {
    .profile__add-button {
        margin-right: 35px;
    }
}
@media screen and (max-width: 730px) {
    .profile__add-button {
        margin-right: 20px;
    }
}
@media screen and (max-width: 690px) {
    .profile__add-button {
        min-width: 100px;
    }
}
@media screen and (max-width: 565px) {
    .profile__add-button {
        max-width: 300px;
        min-width: 150px;
        margin: 35px 35px 0px auto;
    }
}
@media screen and (max-width: 375px) {
    .profile__add-button {
        max-width: 282px;
        margin: 36px 0px 0px;
        background-size: 16px 16px;
    }
}